body, div, h1, h2, h3, h4, h5, h6, p, ul, li, img, header, section, aside, footer, button {
	margin: 0; padding: 0; border: 0;
}

body {
	font-family: Helvetica, Arial, Sans-Serif;
	background: #FFFFFF; /*#FFFFCC url(images/????bg.png);*/
}

#container {
	width: 960px;
	margin: 0 auto;
	padding: 90px 0 100px 0;
	position: relative;
	overflow: hidden;
}

header {}
	header img#logo {
		margin: 0 0 50px 90px;
	}
	header h1 {
		margin: 0 0 30px 90px;
		font-size: 60px; 
		font-weight: normal;
		line-height: 74px;
    color: #2f5bb7;
		/*color: #00ffcc;*/
		/*text-shadow: 0px 0px 10px #00ffcc;*/
	}
	
section {
	margin: 0 15px 5px 0;
	width: 530px;
	float: left;
}
	section p {
		margin: 0 0 30px 90px;
		font-size: 26px;
		line-height: 35px;
        color: #FF6600;
		/*color: #d9d9d9;*/
		/*text-shadow: 0px 1px 5px #000;*/
	}
	section h2 {
		margin: 0 0 10px 90px;
		font-size: 40px;
		font-weight: normal;
    color: #2f5bb7;
		/*color: #00ffcc;*/
		/*text-shadow: 0px 0px 10px #00ffcc;*/
	}
	section ul {
		margin: 0 0 30px 110px;
		font-size: 26px;
		line-height: 35px;
        color: #FF6600;
		/*color: #d9d9d9;*/
		/*text-shadow: 0px 1px 5px #000;*/
	}
	
aside {
	position: absolute;
	top: 215px;
	right: 0;
}

footer {
	width: 960px;
	float: left;
	clear: both;
	overflow: hidden;
}
	footer a#app-store {
		display: block;
		width: 198px;
		height: 72px;
		background: url(images/app-store.png);
		text-indent: -9999px;
		margin: 0 0 0 84px;
		float: left;
	}
	footer p {
		float: right;
		clear: right;
		font-size: 16px;
		color: #5a5a5a;
		margin: 10px 0 0 0;
	}